$sprite: '/images/forecast/forecast.png';

[class^="forecast__icon"] {
  min-width: 32px;
  min-height: 32px;
}

.forecast__icon {
  &--arrow {
    background: url($sprite) -10px -114px;
  }

  &--sun {
    background: url($sprite) -62px -10px;
  }

  &--moon {
    background: url($sprite) -10px -62px;
  }

  &--rain {
    background: url($sprite) -10px -62px;
  }

  &--snow {
    background: url($sprite) -62px -62px;
  }

  &--cloudy {
    background: url($sprite) -62px -114px;
  }

  &--temperature {
    background: url($sprite) -114px -62px;
  }

  &--sunny {
    background: url($sprite) -114px -10px;
  }

  &--humidity {
    background: url($sprite) -62px -10px;
  }

  &--daynight {
    background: url($sprite) -10px -10px;
  }
}
