@use '../../layout/theming.scss' as t;
@use '../../layout/media.scss' as media;

@mixin forecastState($state) {
  &--#{$state} {
    @include t.themify {
      background-color: t.theme(forecast_#{$state});
      color: t.theme(forecast_text);
    }
  }
}

.forecast {
  border-radius: 22px;
  min-width: 350px;
  max-width: 350px;
  padding: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  animation: fadein 500ms;

  @include forecastState('great');
  @include forecastState('good');
  @include forecastState('bad');
  @include forecastState('terrible');

  &__row {
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &--centered {
      @extend .forecast__row;
      justify-content: center;
    }
  }

  &__row > div {
    margin: 4px;
  }

  &__title {
    margin: 0 auto;
  }

  &__flag {
    border: 1px solid black;
    width: 25px;
    margin: 0 10px;
  }

  &__close {
    background-color: #2A1A5E;
    border: 1px solid #2A1A5E;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    font-size: 14pt;
    padding: 5px 10px 7px 10px;
    position: absolute;
    right: -10px;
    top: -10px;
  }
}

@include media.device('sm') {
  .forecast {
    min-width: calc(100vw - 4.5rem);
    max-width: calc(100vw - 4.5rem);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}