@use '../../layout/theming.scss' as t;

.forecast {
  border: 1px;
  border-style: solid;
  border-radius: 22px;
  min-width: 350px;
  max-width: 350px;
  padding: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  &--great {
    @include t.themify {
      background-color: t.theme(forecastGreat);
      color: t.theme(forecastText);
    }
  }

  &--good {
    @include t.themify {
      background-color: t.theme(forecastGood);
      color: t.theme(forecastText);
    }
  }

  &--bad {
    @include t.themify {
      background-color: t.theme(forecastBad);
      color: t.theme(forecastText);
    }
  }

  &--terrible {
    @include t.themify {
      background-color: t.theme(forecastTerrible);
      color: t.theme(forecastText);
    }
  }

  &__row {
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &--centered {
      @extend .forecast__row;
      justify-content: center;
    }
  }

  &__row > div {
    margin: 4px;
  }

  &__title {
    margin: 0 auto;
  }

  &__flag {
    border: 1px solid black;
    width: 25px;
    margin: 0 10px;
  }

  &__close {
    background-color: #2A1A5E;
    border: 1px solid #2A1A5E;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    font-size: 14pt;
    padding: 5px 10px;
    position: absolute;
    right: -10px;
    top: -10px;
  }
}