@use 'frontend/src/styles/theming.scss' as t;
@use 'frontend/src/styles/media.scss' as media;

.modalwindow {
  background-color: white;
  border: 1px solid black;

  left: 0;
  right: 0;
  top: 5em;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  z-index: 100;
  visibility: hidden;
  display: none;

  &--active {
    display: block;
    visibility: visible !important;
  }

}

@include media.device('md') {
  .modalwindow {
    top: 0.3rem;
    left: 0.3rem;
    right: 0.3rem;
    box-sizing: content-box;
  }
}
