@use 'src/layout/theming.scss' as t;

.datelist {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dateitem {
  border-style: solid;
  border-width: 3px 0 1px 1px;
  cursor: pointer;
  display: block;
  padding: 4px;
  text-align: center;

  @include t.themify {
    border-color: t.theme(main_color);
  }

  &:first-child {
    border-left-width: 6px;
  }

  &:last-child {
    border-right: 1px;
    border-style: solid;

    @include t.themify {
      border-color: t.theme(main_color);
    }
  }

  &-active {
    color: white;

    @include t.themify {
      background-color: t.theme(main_color);
    }
  }
}