.theme-switcher {
  color: white;
  background-color: black;
  padding: 0.5rem 1.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;

  &--dark {
    filter: invert(95%);
  }

  &__checkbox {
    display: none;
  }
}
