$themes: (
  light: (
    main_color: #4D96FF,
    main_background: white,
    main_textcolor: black,
    footer_background: rgb(27 120 194),
    footer_text: white,
    footer_link: #A7C6E5,
    searchbox_background: white,
    forecast_great: #5F8D4E,
    forecast_good: #4D96FF,
    forecast_bad: #463E83,
    forecast_terrible: #F55C5C,
    forecast_dangerous: black,
    forecast_text: white,
    brand_color: #200045,
    button-group-border: black,
    button-group-text: black,
    button-group-bg: #FFFBF5,
    button-group-text-active: white,
    button-group-bg-active: #4D96FF,
    button-group-separator: grey,
    settings-menu-border: black,
    settings-menu-bg: white,
    settings-item-separator: black,
  ),
  dark: (
    main_color: #610094,
    main_background: #121212,
    main_textcolor: white,
    footer_background: #150050,
    footer_text: white,
    footer_link: #bea14f,
    searchbox_background: white,
    forecast_great: #6CA348,
    forecast_good: #76ACC6,
    forecast_bad: #363062,
    forecast_terrible: #BB6464,
    forecast_dangerous: black,
    forecast_text: white,
    brand_color: white,
    button-group-border: black,
    button-group-text: black,
    button-group-bg: #cec9fe,
    button-group-text-active: white,
    button-group-bg-active: #610094,
    button-group-separator: black,
    settings-menu-border: white,
    settings-menu-bg: #121212,
    settings-item-separator: white,
  )
);