@use 'frontend/src/layout/theming.scss' as t;
@use 'frontend/src/layout/media.scss' as media;

.item {
  &__city {
    align-items: flex-end;
    box-sizing: border-box;
    color: black;
    cursor: default;
    display: flex;
    padding: 8px;
  
    @include t.themify {
      border-bottom: 1px solid t.theme(main_color);
    }
    
    &--active {
      color: white;
      @include t.themify {
        background-color: t.theme(main_color);
      }
    }
  }
  
  &__station {
    font-size: 10pt;
    margin-left: auto;
  }
  
  &__flag {
    width: 25px;
    margin-right: 10px;
  }
}

@include media.device('sm') {
  .item {
    &__city {
      display: block;
    }

    &__station {
      padding-top: 6px;
    }
  }
}