@use 'frontend/src/styles/theming.scss' as t;
@use 'frontend/src/styles/media.scss' as media;

@mixin forecastState($state) {
  &--#{$state}:before {
    @include t.themify {
      background-color: t.theme(forecast_#{$state});
    }
  }
}

.help {
  &__icon {
    background: url('/help.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    min-height: 2rem;
    min-width: 2rem;
  }

  &__modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.7rem;
    width: 100%;

    .modal__right {
      padding: 0.3rem 0.7rem;
      text-align: justify;
    }
  }

  &__title {
    font-size: 1.5rem;
  }

  &__legend {
    list-style: none;
  }
  
  &__color {
    &:before {
      content: '';
      display: inline-block;
      margin-left: -1.5rem;
      margin-right: 0.5rem;
      height: 1rem;
      width: 1rem;

      @include t.themify {
        border: 1px solid t.theme(main_textcolor);
      }
    }
  
    @include forecastState('great');
    @include forecastState('good');
    @include forecastState('bad');
    @include forecastState('terrible');
  }
}

@include media.device('md') {
  .help__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.7rem;
    width: 100%;

    &__color {
      margin-right: 0;

      &:before {
        margin-right: 0;
      }
    }

    .modal__left {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  
}