@use 'frontend/src/styles/theming.scss' as t;
@use 'frontend/src/styles/media.scss' as media;

.suggestions {
  background: white;
  border-top: 0;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  left: 0;
  top: 4.7rem;
  z-index: 1;

  list-style: none;
  padding-inline: 0;
  margin-block: 0;
  
  @include t.themify {
    border: 1px solid t.theme(main_color);
  }

  &--hidden {
    visibility: hidden;
  }
  
  &--visible {
    visibility: visible;
  }
}
