@use 'src/layout/theming.scss' as t;
@use 'src/layout/media.scss' as media;

.suggestions {
  background: white;
  border-top: 0;
  position: absolute;
  width: 480px;
  margin-left: 19px;
  margin-top: 11px;
  z-index: 1;
  
  @include t.themify {
    border: 1px solid t.theme(main_color);
  }

  &--hidden {
    visibility: hidden;
  }
  
  &--visible {
    visibility: visible;
  }
}

@include media.device('sm') {
  .suggestions {
    margin-left: 0;
    left: 0;
    width: 100%;
  }
}