@use 'frontend/src/styles/theming.scss' as t;

.footer {
  text-align: center;
  padding: 1.3rem 0;
  
  @include t.themify {
    background-color: t.theme(footer_background);
    color: t.theme(footer_text);;
  }

  > a {
    @include t.themify {
      color: t.theme(footer_link);
    }
  }
}