@use '../../layout/theming.scss' as t;

.navbar {
  @include t.themify {
    background-color: t.theme(main_background);
  }
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding-top: 10px;
  column-gap: 10px;
  width: 100%;
}