@use 'src/layout/theming.scss' as t;

.searchbox {
  border: 0;
  font-size: 18px;
  height: 52px;
  text-indent: 8px;
  width: 100%;

  @include t.themify {
    background-color: t.theme(searchbox_background);
  }

  &:focus {
    outline: none;
  }
}
