@use '../../layout/variables.scss' as var;

.search {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__nav {
    position: relative;
    outline: 1px solid var.$primary-color;
    border-radius: 40px;
    padding: 10px;
    width: 520px;
  }
  
  &__dateselect {
    width: 20%;
    height: 52px;
    background: var.$primary-color;
    border: 0;
    color: white;
    border-radius: 40px;
  }
}