@use '../../layout/variables.scss' as var;

.search__datelist {
  font-family: 'Merriweather', serif;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.search__dateitem {
    border-top: 1px;
    border-left: 1px;
  
    border-right: 0;
    border-color: var.$primary-color;
    border-style: solid;
    padding: 4px;
    text-align: center;

  &:last-child {
    border-right: 1px;
    border-color: var.$primary-color;
    border-style: solid;
  }

  &--state-active {
    color: white;
    background-color: var.$primary-color;
  }

}
