@use '../../layout/theming.scss' as t;

.search__datelist {
  font-family: 'Merriweather', serif;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search__dateitem {
  border-top: 1px;
  border-left: 1px;
  border-right: 0;
  @include t.themify {
    border-color: t.theme(mainColor);
  }
  border-style: solid;
  padding: 4px;
  text-align: center;
  display: block;
  cursor: default;

  &:first-child {
    border-radius: 15px 0 0 15px;
  }

  &:last-child {
    border-right: 1px;
    @include t.themify {
      border-color: t.theme(mainColor);
    }
    border-style: solid;
    border-radius: 0 15px 15px 0;
  }

  &--active {
    color: white;
    @include t.themify {
      background-color: t.theme(mainColor);
    }
  }
}