@use '../../layout/theming.scss' as t;
@use '../../layout/media.scss' as media;

.search {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;

  height: 90vh;
  justify-content: center;
  position: relative;
  // transition: all 0.5s linear;

  &--collapsed {
    height: 170px;
  }

  &__nav {
    border: solid;
    @include t.themify {
      border-color: t.theme(mainColor);
    }
    border-width: 1px 14px 4px 1px;
    padding: 10px;
    position: relative;

    width: 520px;
  }
}

@include media.device('hd') {
  .search__nav {
    width: 80%;
  }
}

@include media.device('sm') {
  .search {
    height: 20vh;

    &__nav {
      width: 70%;
    }
  }
}