@use '../../layout/colors.scss' as colors;

.search {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  position: relative;
  // transition: all 0.5s linear;

  &--collapsed {
    height: 170px;
  }

  &__nav {
    border-radius: 40px;
    outline: 1px solid colors.$primary-color;
    padding: 10px;
    position: relative;
    width: 520px;
  }
  
  &__dateselect {
    background: colors.$primary-color;
    border: 0;
    border-radius: 40px;
    color: white;
    height: 52px;
    width: 20%;
  }
}