@use '../../layout/theming.scss' as t;

.search {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  position: relative;
  // transition: all 0.5s linear;

  &--collapsed {
    height: 170px;
  }

  &__nav {
    border-radius: 40px;
    @include t.themify {
      outline: 1px solid t.theme(mainColor);
    }
    padding: 10px;
    position: relative;
    width: 520px;
  }
  
  &__dateselect {
    @include t.themify {
      background-color: t.theme(mainColor);
    }
    border: 0;
    border-radius: 40px;
    color: white;
    height: 52px;
    width: 20%;
  }
}