.search__suggestions {
  background: white;
  border: 1px solid var(--main-color);
  border-top: 0;
  position: absolute;
  width: 480px;
}

.search__suggestions--state-hidden {
  visibility: hidden;
}

.search__suggestions--state-visible {
  visibility: visible;
}