@use '../../layout/variables.scss' as var;

.search__suggestions {
  background: white;
  border: 1px solid var.$primary-color;
  border-top: 0;
  position: absolute;
  width: 480px;
  margin-left: 19px;
  margin-top: 11px;
  z-index: 1;

  &--state-hidden {
    visibility: hidden;
  }
  
  &--state-visible {
    visibility: visible;
  }
}