@use '../../layout/theming.scss' as t;
@use '../../layout/media.scss' as media;

.search__city {
  align-items: flex-end;
  @include t.themify {
    border-bottom: 1px solid t.theme(main_color);
  }
  box-sizing: border-box;
  color: black;
  cursor: default;
  display: flex;
  padding: 8px;

  &--active {
    color: white;
    @include t.themify {
      background-color: t.theme(main_color);
    }
  }
}

.search__station {
  font-size: 10pt;
  margin-left: auto;
}

.search__flag {
  width: 25px;
}

@include media.device('sm') {
  .search__city {
    display: block;
  }

  .search__station {
    padding-top: 6px;
  }
}