@use '../../layout/theming.scss' as t;

.search__city {
  align-items: flex-end;
  @include t.themify {
    border-bottom: 1px solid t.theme(mainColor);
  }
  box-sizing: border-box;
  color: black;
  cursor: default;
  display: flex;
  padding: 8px;

  &--active {
    color: white;
    @include t.themify {
      background-color: t.theme(mainColor);
    }
  }
}

.search__station {
  font-size: 10pt;
  margin-left: auto;
}

.search__flag {
  width: 25px;
}