@use '../../layout/theming.scss' as t;

.search__suggestions {
  background: white;
  @include t.themify {
    border: 1px solid t.theme(mainColor);
  }
  border-top: 0;
  position: absolute;
  width: 480px;
  margin-left: 19px;
  margin-top: 11px;
  z-index: 1;

  &--hidden {
    visibility: hidden;
  }
  
  &--visible {
    visibility: visible;
  }
}