.search__item {
  color: black;
  border-bottom: 1px solid var(--main-color);
  box-sizing: border-box;
  padding: 8px;
}

#search-item-active {
  color: white;
  background-color: var(--main-color);
}