@use "src/layout/theming.scss" as t;
@use "src/layout/media.scss" as media;

.modalwindow {
  background-color: white;
  border: 1px solid black;

  left: 0;
  right: 0;
  top: 5em;
  // height: calc(100vh - 15px);
  // width: calc(100vw - 10em);
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  z-index: 100;
  visibility: hidden;
  display: none;

  &-active {
    display: block;
    visibility: visible !important;
  }

}

@include media.device("md") {
  .modalwindow {
    top: 5px;
    left: 5px;
    right: 5px;
    box-sizing: content-box;
  }
}
