@use 'frontend/src/styles/theming.scss' as t;

.searchbox {
  border: 0;
  font-size: 1.1rem;
  height: 3.2rem;
  text-indent: 0.6rem;
  width: 100%;

  @include t.themify {
    background-color: t.theme(searchbox_background);
  }

  &:focus {
    outline: none;
  }
}
