@use 'frontend/src/styles/theming.scss' as t;
@use 'frontend/src/styles/media.scss' as media;

@mixin forecastState($state) {
  &--#{$state} {
    @include t.themify {
      background-color: t.theme(forecast_#{$state});
      color: t.theme(forecast_text);
    }
  }
}

.forecast {
  width: 24rem;
  margin: 1.3rem;
  display: flex;
  flex-direction: column;
  position: relative;
  animation: fadein 500ms;

  @include forecastState('great');
  @include forecastState('good');
  @include forecastState('bad');
  @include forecastState('terrible');

  &__title {
    margin: 0 auto;
    background-color: #205295;
    width: 100%;
    text-align: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;

    h1 {
      font-size: 1rem;
      font-weight: normal;
      display: inline;
    }
  }

  &__icon {
    img {
      width: 2.2rem;
      height: auto;
    }
  }

  &__conditions {
    padding: 0.9rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.3rem;
    padding: 0.7rem;
    border-radius: 15px;
    gap: 0.2rem;

    &--centered {
      @extend .forecast__row;
      justify-content: center;
    }
  }

  &__row > div,span {
    margin: 0.2rem;
  }

  &__flag {
    border: 1px solid black;
    width: 1.7rem;
    margin: 0 0.7rem;
  }
}

@include media.device('sm') {
  .forecast {
    width: calc(100vw - 3rem);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}