@use 'frontend/src/layout/theming.scss' as t;
@use 'frontend/src/layout/media.scss' as media;

@mixin forecastState($state) {
  &--#{$state} {
    @include t.themify {
      background-color: t.theme(forecast_#{$state});
      color: t.theme(forecast_text);
    }
  }
}

.forecast {
  min-width: 380px;
  max-width: 380px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  animation: fadein 500ms;

  @include forecastState('great');
  @include forecastState('good');
  @include forecastState('bad');
  @include forecastState('terrible');

  &__title {
    margin: 0 auto;
    background-color: #205295;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__conditions {
    padding: 15px;
  }

  &__row {
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &--centered {
      @extend .forecast__row;
      justify-content: center;
    }
  }

  &__row > div {
    margin: 4px;
  }

  &__flag {
    border: 1px solid black;
    width: 25px;
    margin: 0 10px;
  }
}

@include media.device('sm') {
  .forecast {
    min-width: calc(100vw - 3rem);
    max-width: calc(100vw - 3rem);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}