@use './theming.scss' as t;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  @include t.themify {
    background-color: t.theme(mainBackground);
  }
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}