$themes: (
  light: (
    main_color: #4D96FF,
    main_background: white,
    footer_background: rgb(27 120 194),
    footer_text: white,
    footer_link: #A7C6E5,
    location_background: white,
    forecast_great: #6BCB77,
    forecast_good: #4D96FF,
    forecast_bad: #7D1E6A,
    forecast_terrible: #F32424,
    forecast_text: white,
  ),
  dark: (
    main_color: #610094,
    main_background: #121212,
    footer_background: #150050,
    footer_text: white,
    footer_link: #bea14f,
    location_background: white,
    forecast_great: #809A6F,
    forecast_good: #8FBDD3,
    forecast_bad: #363062,
    forecast_terrible: #BB6464,
    forecast_text: white,
  )
);